[submodule "3rdparty/sglang"]
	path = 3rdparty/sglang
	url = https://github.com/Zijie-Tian/sglang.git
	branch = tzj/minference
[submodule "3rdparty/vllm"]
	path = 3rdparty/vllm
	url = https://github.com/Zijie-Tian/vllm.git
	branch = tzj/minference
[submodule "3rdparty/flash-attention"]
	path = 3rdparty/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
	branch = tzj/minference
[submodule "3rdparty/nano-vllm"]
	path = 3rdparty/nano-vllm
	url = https://github.com/Zijie-Tian/nano-vllm.git
	branch = tzj/minference
